doctype
html
  head
    link(rel="stylesheet" href="/main.css")
  body
    != yield

    //- Loading firebase key from server environment
    script!= "window.FIREBASE_URL = " + (process.env.FIREBASE_URL || 'undefined')
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-bootstrap/ui-bootstrap.min.js")
    script(src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/components/firebase/firebase.js")
    script(src="/components/angularfire/dist/angularfire.min.js")
    script(src="/scripts/app.js")
